div.payment_method_sc {
	background-color: #fafafa !important;
}

#sc_apms_list, #sc_upos_list {
	margin: 0.5em 0 1.4em 0;
}

.apm_container, .upo_container {
	width: 100%;
	cursor: pointer;
	padding: 1rem 0 0 0;
	background-color: #FFFFFF;
	border-bottom: .1rem solid #9B9B9B !important;
}

.apm_title, .upo_title {
	padding-left: 0.7em;
	padding-bottom: 0.5em;
}

.apm_title img, .upo_title img {
	float: none !important;
	display: inline-block;
	vertical-align: middle;
	margin-left: 5px;
}

.apm_title input, .upo_title input { vertical-align: middle; }
.apm_fields, .upo_fields { display: none; }

.apm_fields input, upo_fields input {
	margin-bottom: 10px;
	width: 100%;
}

.SfcField {
	padding-top: 1em;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.125);
	margin-bottom: 10px;
}

.SfcField iframe {
	min-height: 20px !important;
	color: inherit !important;
}

#sc_card_holder_name::placeholder, .apm_fields input::placeholder {
	font-family: sans-serif !important;
	color: #52545A !important;
}

form.woocommerce-checkout #payment.woocommerce-checkout-payment { position: relative; }

#custom_loader, .custom_loaders {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	background-color: white;
	opacity: 0.4;
	display: none;
}

.custom_loaders {
	left: 0;
	right: 0;
	display: block;
}

/* for the 3DS modal */
.sfcModal-dialog {
	width: 50%;
	margin: 0 auto;
	margin-top: 10%;
}
